.full-width-img {
  width: 100%;
  overflow: hidden;
  height: 400px;
  /* Устанавливаем высоту картинки */
}

.full-width-img img {
  width: 100%;
  /* Заполняем контейнер */
  height: auto;
  /* Подстраиваем высоту под ширину */
  display: block;
  object-fit: cover;
  /* Обрезаем изображение */
}

.container {
  position: relative;
  width: 100%;
  /* height: 400px; */
  height: 100vh;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.background-image {
  background-image: url('../image/background2.jpg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  background-attachment: fixed;
}

.background-image-index {
  background-image: url('../image/baner-index.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  z-index: 20;
}

.background-image-sobre {
  background-image: url('../image/baner-sobre.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  z-index: 20;
}

.background-image-tienda {
  background-image: url('../image/baner-tienda.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  z-index: 20;
}

.background-image-gracias {
  background-image: url('../image/baner-delivery-boy.webp');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  z-index: 20;
}
.background-image-platos {
  background-image: url('../image/platos.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  z-index: 20;
}

.dueno-image {
  width: 100%;
  height: auto;
}

.background-image-contacto {
  background-image: url('../image/baner-contacto.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  z-index: 20;
}

.tienda-image-1 {
  background-image: url('../image/1.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-1:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 210px;
  height: 210px;
}

.tienda-image-2 {
  background-image: url('../image/2.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-2:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 210px;
  height: 210px;
}

.tienda-image-3 {
  background-image: url('../image/3.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-3:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 210px;
  height: 210px;
}

.tienda-image-4 {
  background-image: url('../image/4.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-4:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 210px;
  height: 210px;
}
.tienda-image-5 {
  background-image: url('../image/5.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-5:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 210px;
  height: 210px;
}
.tienda-image-6 {
  background-image: url('../image/6.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-6:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 310px;
  height: 210px;
}
.tienda-image-7 {
  background-image: url('../image/7.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-7:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 310px;
  height: 210px;
}
.tienda-image-8 {
  background-image: url('../image/8.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-8:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 310px;
  height: 210px;
}
.tienda-image-9 {
  background-image: url('../image/9.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-9:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 310px;
  height: 210px;
}

.baner {
  position: absolute;
  right: 50%;
  top: 0px;
  object-fit: cover;
  object-position: right center;
  width: 700px;
  height: 100%;
}