html {
    margin: 0;
    padding: 0;
}

.collumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.padding {
    padding: 20px;
}

@media screen and (max-width: 700px) {
    .collumn {
        flex-direction: row;
        flex-wrap: wrap
    }
}