h1 {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    line-height: normal;
}

h2 {
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}
.h2-no-animacion {
    padding: 10px;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
}

h3 {
    font-size: 40px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}

h4 {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}

.font-big-size {
    font-size: 20px;
}

.font-sobre {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 110%;
}

.font-contacto-title {
    font-weight: bold;
}

.font-contacto {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 150%;
    padding: 10px;
}

.font-family {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-tienda {
    color: aliceblue;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.text-left {
    color: aliceblue;
    text-align: left;
    display: table-cell;
    vertical-align: bottom;
}

.text-center {
    width: 80%;
}

.elemen-center {
    display: flex;
    justify-content: center;
}

@media (max-width: 960px) and (min-width: 501px) {
    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.75);
    }

    h3 {
        font-size: 35px;
        color: rgba(255, 255, 255, 0.75);
    }

    h4 {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.75);
    }
    .modal-content{
        margin: 15px;
    }
    .modal-button{
        font-size: 14px;
    }
   
}

@media (max-width: 500px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.75);
    }

    h3 {
        font-size: 35px;
        color: rgba(255, 255, 255, 0.75);
    }
    .modal-content{
        margin: 20px;
    }

    .modal-button{
        font-size: 14px;
    }
    .modal-opciones{
        flex-direction:column;
    }
    .close{
        padding: 10px;
    }
}