body,
html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.anima {
    display: flex;
    position: relative;
    display: inline-block;
    width: 100%;
}

.anima span {
    position: absolute;
    right: 0;
    width: 0;
    background-color: rgb(255, 255, 255);
    animation-name: escribir;
    animation-duration: 1s;
    animation-timing-function: steps(50);
}

.anima-index span {
    position: absolute;
    right: 0;
    width: 0;
    background-color: rgb(0, 0, 0);
    animation-name: escribir;
    animation-duration: 1s;
    animation-timing-function: steps(50);
}

.background-image-index {
    animation-name: start;
    animation-duration: 5s;
}

.menu-color-white {
    animation-name: menu;
    animation-duration: 3s;
}

h2 {
    animation-name: menu;
    animation-duration: 2.5s;
}

h3 {
    animation-name: menu;
    animation-duration: 2.5s;
}

/* .footer {
    animation-name: menu;
    animation-duration: 5s;
} */

@keyframes escribir {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@keyframes start {
    0% {
        background-color: rgb(0, 0, 0);
    }

    50% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@keyframes menu {
    0% {
        color: rgb(0, 0, 0);
    }

    75% {
        color: rgb(0, 0, 0);
    }

    100% {
        color: rgba(255, 255, 255, 0.7);
    }
}

.nav-main-page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10;
    color: aliceblue;
}

.nav-no-main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    color: aliceblue;
}

.burger-menu {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: aliceblue;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 100;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    background-color: black;
}

.footer {
    display: flex;
    margin: auto;
    justify-content: center;
    bottom: 0;
    z-index: 10;
    color: aliceblue;
}

.contener-pajina {
    display: flex;
    margin: auto;
    padding: 30px;
    width: 75%;
    justify-content: center;
}

.contener-sobre-collums {
    margin: 20px;
    min-width: 50%;
    max-width: 50%;
}

.contener-contacto-collums {
    margin: 20px;
    min-width: 50%;
    max-width: 50%;
}

ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    display: inline-block;
    padding: 20px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    max-width: 960px;
}

.catalog-line {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: center;
}

.catalog-element {
    margin: 10px;
}

.shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.shadow:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.align-central {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.image-size {
    width: 450px;
    height: 300px;
}

.paralax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 960px) and (min-width: 501px) {
    .catalog {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
        max-width: 500px;
    }

    .contener-pajina {
        flex-wrap: wrap;
        width: auto;
    }

    .contener-sobre-collums {
        margin: 0px;
        min-width: 100%;
        max-width: 100%;
    }

    .contener-contacto-collums {
        margin: 0px;
        min-width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .contener-pajina {
        flex-wrap: wrap;
        padding: 10px;
        width: auto;
    }

    .contener-sobre-collums {
        margin: 0px;
        min-width: 90%;
        max-width: 90%;
    }

    .contener-contacto-collums {
        margin: 0px;
        min-width: 90%;
        max-width: 90%;
    }
}

/********************************************************************************/

/*                            ANIMACION                                     */

/********************************************************************************/

#foto {
    animation-name: foto;
    animation-duration: 2s;
}

@keyframes foto {
    from {
        margin-left: -1000px;
    }

    to {
        margin-left: 0px;
    }

    0% {
        visibility: hidden;
        opacity: 0;
    }

    50% {
        visibility: hidden;
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }

}

#text {
    animation-name: text;
    animation-duration: 2s;
}

@keyframes text {
    from {
        padding-top: 200px;
    }

    to {
        padding-top: 0%;
    }

    0% {
        visibility: hidden;
        opacity: 0;
    }

    50% {
        visibility: hidden;
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }

}

/********************************************************************************/

/*                            VENTANA MODAL                                     */

/********************************************************************************/

#modal_1 {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#modal_1:target {
    display: block;
}

#modal_2 {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#modal_2:target {
    display: block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-context {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    /* width: 50%; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    z-index: 1110;
}

.modal-opciones {
    display: flex;
    flex-direction: row;
}

.modal-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: rgb(127, 127, 127);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.modal-button:hover {
    background-color: rgb(50, 50, 50);
    border-color: rgb(220, 220, 220);
    color: rgb(255, 255, 255);
}

.close {
    color: #aaa;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    height: 0px;
    justify-content: flex-end;
    padding-right: 10px;
    font-family: fantasy;
    transition: 0.5s;
    position: relative;
    z-index: 100;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}