.bloc-down {
    width: 250px;
    height: 200px;
    background-color: burlywood;
    margin: 20px;
}

.bloc-up {
    width: 3000px;
    height: 200px;

    margin: 20px;
}

#animar {
    /* background-color: black; */
    animation-name: tamano;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#animar2 {
    /* background-color: black; */
    animation-name: tamano2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#giro {
    width: 350px;
    height: 200px;
    background-color: black;
    animation-name: giro;
    animation-duration: 4s;
    border-radius: 20%;
    animation-iteration-count: infinite;
}

#pelotita {
    width: 200px;
    height: 200px;
    background-color: black;
    animation-name: pelotita_anim;
    animation-duration: 4s;
    border-radius: 20%;
    animation-iteration-count: infinite;
}

@keyframes tamano {
    0% {
        margin-left: -2000px;
    }

    100% {
        margin-left: 200px;
    }
}

@keyframes tamano2 {
    0% {
        margin-right:  2000px;
    }

    100% {
        margin-right: 200px;
    }
}

@keyframes giro {
    from {
        background-color: brown;
        transform: rotate(20deg);
        margin-left: 20px;
    }

    to {
        background-color: aquamarine;
        transform: rotate(260deg);
        margin-left: 1000px;
    }
}

@keyframes pelotita_anim {
    0% {
        margin-left: 0%;
    }

    50% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0%;
    }
}

h1 {
    position: relative;
}

header div {
    width: 300px;
}

h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background-color: rgb(255, 255, 255);
    border-left: 2px solid black;
    animation-name: escribir;
    animation-duration: 10s;
    animation-timing-function: steps(100);
    animation-iteration-count: infinite;

}

@keyframes escribir {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}