.full-width-img {
  width: 100%;
  overflow: hidden;
  height: 400px;
}

.full-width-img img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.container-photo-main {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.container-photo-no-main {
  position: relative;
  width: 100%;
  height: 50vh;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.background-image-index {
  background-image: url('../image/baner-index.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 20;
  animation-name: start;
}

.background-image-sobre {
  background-image: url('../image/baner-sobre.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: bottom;
}

.background-image-tienda {
  background-image: url('../image/baner-tienda.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.background-image-gracias {
  background-image: url('../image/baner-delivery-boy.webp');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.background-image-platos {
  background-image: url('../image/platos.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.dueno-image {
  width: 100%;
  height: auto;
}

.background-image-contacto {
  background-image: url('../image/baner-contacto.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.tienda-image-1 {
  background-image: url('../image/1.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 190px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-1:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  margin: 10px;
  width: 200px;
  height: 200px;
}

.tienda-image-2 {
  background-image: url('../image/2.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 190px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-2:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 200px;
}

.tienda-image-3 {
  background-image: url('../image/3.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 190px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-3:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 200px;
}

.tienda-image-4 {
  background-image: url('../image/4.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 190px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-4:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 200px;
}

.tienda-image-5 {
  background-image: url('../image/5.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 190px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-5:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 200px;
}

.tienda-image-6 {
  background-image: url('../image/6.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 190px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-6:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 200px;
}

.tienda-image-7 {
  background-image: url('../image/7.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 190px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-7:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 200px;
}

.tienda-image-8 {
  background-image: url('../image/8.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 190px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.tienda-image-8:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 200px;
}

.baner {
  position: absolute;
  right: 50%;
  top: 0px;
  object-fit: cover;
  object-position: right center;
  width: 700px;
  height: 100%;
}

.icon-size {
  width: 100px;
  /* height: 210px; */
}

@media (max-width: 500px) {
  .tienda-image-1 {
    width: 400px;
    height: 200px;
  }

  .tienda-image-1:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.25);
    width: 420px;
    height: 210px;
  }

  .tienda-image-2 {
    width: 400px;
    height: 200px;
  }

  .tienda-image-2:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.25);
    width: 420px;
    height: 210px;
  }

  .tienda-image-3 {
    width: 400px;
    height: 200px;
  }

  .tienda-image-3:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.25);
    width: 420px;
    height: 210px;
  }

  .tienda-image-4 {
    width: 400px;
    height: 200px;
  }

  .tienda-image-4:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.25);
    width: 420px;
    height: 210px;
  }

  .tienda-image-5 {
    width: 400px;
    height: 200px;
  }

  .tienda-image-5:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.25);
    width: 420px;
    height: 210px;
  }

  .tienda-image-6 {
    width: 400px;
    height: 200px;
  }

  .tienda-image-6:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.25);
    width: 420px;
    height: 210px;
  }

  .tienda-image-7 {
    width: 400px;
    height: 200px;
  }

  .tienda-image-7:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.25);
    width: 420px;
    height: 210px;
  }

  .tienda-image-8 {
    width: 400px;
    height: 200px;
  }

  .tienda-image-8:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.25);
    width: 420px;
    height: 210px;
  }
  .container-photo-no-main {
    height: 100vh;
  }
}