form {
    margin: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

label {
    display: flex;
    width: 75%;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 100%;
}

fieldset {
    margin: 20px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
}

.form-container {
    margin: 20px;
}

fieldset div label {
    display: inline;
    
}

textarea {
    width: 75%;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
}

.form_padding {
    margin: 20px;
}

input[type=text],
input[type=number],
input[type=date],
input[type=mail],
select {
    display: flex;
    width: 75%;
    height: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
}

select,
option {
    font-size: 10pt;
}

input[type=submit] {
    width: 75%;
    height: 50px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.75);
    font-size: 12pt;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.buttom-submit {
    display: flex;
    justify-content: center;
    color:black;
    
}
input[type=submit]:hover {
    width:  100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.buttom-tienda {
    display: flex;
    justify-content: center;
}
input[type=button] {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    font-size: 12pt;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
}

.input-tienda{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 50%;
    height: 50px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    font-size: 12pt;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);  
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: 1s;
}
.input-tienda:hover{
    width: 75%;
    height: 75px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: 16pt;
}